@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}
.fondo {
    background-image: url('../../public/img/login.jpg');
    background-size: cover;
    background-position: center;
}

#contentScroll{
    overflow-y: scroll;
    scroll-margin: 20px;
    height: 100vh;
}
#contentScroll::-webkit-scrollbar{
    width: 10px;

}
#contentScroll::-webkit-scrollbar-thumb {
    background: #088395;
    border-radius: 10px;
}
#contentScroll::-webkit-scrollbar-track-piece{
    margin: 20px;
}
